body{
    background-color: gray;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#circle
{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    background-color: black;
}
#hole{
    
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: gray;
    z-index: 3;
}
#pivot{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: black;
    z-index: 4;
}
.zab {
	background-color: black;
    position: absolute;
    height: 30px;
    width: 200px;;
    top: 85px;
}
#skos1 {
	transform: rotate(45deg);
}
#skos2 {
	transform: rotate(90deg);
}
#skos3 {
	transform: rotate(135deg);
}


.container-right{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    transition-property: transform;
    transition-duration: 1s;
    margin-top: 50px;
    
}
html:hover .container-right {
	animation-name: rotateright; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.container-left{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    transition-property: transform;
    transition-duration: 1s;
    margin-top: 50px;
    
}
html:hover .container-left{
	animation-name: rotateleft; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotateright {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@keyframes rotateleft {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}
#circle1{
    position: fixed;
    left: 400px;
    top: 150px;
}
#circle2{
    position: fixed;
    left: 500px;
    top: 0px;
}
