@mixin main-text {
    font-size: 15px;
    letter-spacing: 0.6px;
    line-height: 29px;
    text-align: justify;
}

@mixin vertical-line($height) {
    width: 2px;
    background-color: #E5E5E5;
    margin-left: 8px;
    height: $height;
}

@mixin day-container {
    height: 100%;
    float: left;
    width: 14.2%;
    text-align: center;
    position: relative;
    cursor: pointer;
}
