body {
  background-color: #666;
}
.container {
  width: 80%;
  height: 550px;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
.speedway {
  width: 700px;
  height: 400px;
  background-image: url(../img/plain.jpg);
  margin: 0 auto;
  position: relative;
}
#plane {
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transform: rotate(270deg);
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  /* display: none; */
}
img{
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
#fire {
  height: 30px;
  width: 30px;
  visibility: hidden;
  border-radius: 15px;

  /* transform: rotate(90deg) translate(10px, 9px); */

  /* transform: rotate(180deg) translate(20px, -2px); */

  /* transform: rotate(270deg) translate(10px, -10px); */
}