body {
  background-color: #666;
}
.container {
  width: 80%;
  height: 550px;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
.speedway {
  width: 720px;
  height: 420px;
  background-image: url(../img/plain.png);
  margin: 0 auto;
  position: relative;
}
#plane {
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  /* transform: rotate(270deg); */
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  z-index: 3;
  /* display: none; */
}
img{
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
#fire {
  height: 30px;
  width: 30px;
  visibility: hidden;
  border-radius: 15px;
  z-index: 3;
}

.hit{
  height: 30px;
  width: 30px;
  z-index: 3;
  position: absolute;
  display: inline-block;
}
.target{
  width: 30px;
  height: 30px;
  background-image: url(../img/tank.png);
  background-size: contain;
  position: absolute;
  display: inline-block;
}
.up{
  transform: rotate(180deg);
  transition: all 0.2s linear;
}
.down{
  transform: rotate(0deg);
  transition: all 0.2s linear;
}
.left{
  transform: rotate(90deg);
  transition: all 0.2s linear;
}
.right{
  transform: rotate(270deg);
  transition: all 0.2s linear;
}