body {
    margin: 0;
    font-family: verdana;
    color: #fff;
   
}

#container {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/man-1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

h3 {
    position: absolute;
    top: 47%;
    left: 3%;
    transform: translateY(-50%);
    
}
h1
{
    position: absolute;
    top: 52%;
    left: 3%;
}
