#container
{
    margin-left: auto;
    margin-right: auto;
    width: 690px;
    height: 390px;
    position: relative;
    
}
#top
{
    width: 100%;
    height: 0%;
    background-color: black;
    position: absolute;
    top:0;
    transition: height 5s linear;
}
#bottom
{
    width: 100%;
    height: 0%;
    background-color: black;
    position: absolute;
    bottom:0;
    transition: height 5s linear;
}
#background
{
    width: 650px;
    height: 350px;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fff;
     background-repeat: no-repeat;
}
#text
{
    background-color: black;
    color:white;
    text-align: center;
    transform: translateY(-50%);
    font-size: 0px;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: -10px;
    width: 690px;
    transition:  font-size 5s linear;
}
#container:hover > #top
{
   height: 50%;
}
#container:hover > #bottom
{
   height: 50%;
}
#container:hover #text
{
   font-size: 60px;
}