.fa-arrow-up
{
    color: green;
}
.fa-arrow-down
{
    color: red;
}
.fa-equals
{
    color: blue;
}
p
{
    display: inline-block;
    margin: 5px 5px 5px 15px;
}
#sprzedaz{
    margin-bottom: 23px;
}
#sprawdz {
    display: block;
    margin 20px;
}