@media (max-width: 1170px) {
    #container {
        background-image: url(../img/man-2.jpg);
        background-position: top center;
        background-size: 100%;
    }
    h3 {
        position: absolute;
        left: 55%;
        top: 120px;

    }
    h1 {
        position: absolute;
        left: 55%;
        top: 160px;
    }
}

@media (max-width: 992px) {
    #container {
        background-image: url(../img/man-1.jpg);
        background-position: top center;
       
/*        background-size: 100%;*/
    }
    h3 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 350px;
        color: black;

    }
    h1 {
        position: absolute;
        width: 433px;
        left: 50%;
        transform: translateX(-50%);
        top: 390px;
        color: black;
    }


}