.mr-4rem {
  margin-right: 4rem !important; }
.mr-5rem {
  margin-right: 5rem !important; }
.px-50{
    padding: 0 50px !important;}
.px-75
    {padding: 0 75px !important;}
.px-100{
    padding: 0 100px !important;}
.px-150{
    padding: 0 150px !important;}
.px-1px{
  padding: 0 3px !important; }
.yellow-text{
    color: #FDEA00 !important; }
.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.pr-12-perc{
    padding-right: 12% !important;
}