
@media (max-width: 992px) {

    #contact-data .h2-class {
        text-align: center;
    }
    #contact-data {
        text-align: center;
    }
    .contact-form {
        text-align: center;
        
    }
} 

@media (max-width: 768px) {

    #menu-responsive {
        display: block;
    }
    .nav-horizontal-invisible {
        background-color: transparent;
    }
    nav ul li {
        display: none;
    }
    .horizontal-menu {
        float: none;
        display: block;
        background-color: grey;
        opacity: 0.8;
    }
}
