
@media (max-width: 992px) {

    #contact-data .h2-class {
        text-align: center;
    }
    #contact-data {
        text-align: center;
    }
    .contact-form {
        text-align: center;
        
    }
} 


@media (max-width: 768px) {

    #header-container #main-nav ul #menu-responsive {

        display: block;
    }
    ul li {
        display: none;
        float: none;
    }
    .horizontal-menu {
        float: none;
        display: block;
        background-color: grey;
        opacity: 0.8;
    }
}
