* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    height: 2000px;
}

span {
    font-weight: 400;
    color: #1ac056;
}


#header-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-size: cover;
    height: 95vh;
    background-image: url(../img/header-background.jpg);
    background-position: center center;
}

#main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background-color: grey;
    opacity: 0.8;
    z-index: 2;
    color: white;
    padding: 0px;
}

nav ul {
    padding: 0;
    position: fixed;
    right: 0;
    margin: 0px;
}

nav ul li {
    float: left;
    list-style-type: none;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    padding: 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #1ac056;
    text-decoration: none;
    opacity: 0.8;
    color: white;
}

#menu-responsive {
    display: none;
    color: white;
    font-weight: 300;
    padding: 20px;
    width: 129px;
    background-color: gray;
    opacity: 0.8;
}

#menu-responsive:hover {
    background-color: #1ac056;
    opacity: 0.8;
}

#header-container header {
    top: 30%;
    width: 100%;
    position: absolute;
    text-align: center;
}

#header-container header h1 {
    font-size: calc(10 * (1vw + 1vh - 1vmin));
    width: 100%;
    margin: 0;
    color: white;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

#header-container header #h2-header {
    color: white;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 4vmax;
    margin: 0px;
}

#about-me {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    left: -100%;
    overflow: hidden;
    text-align: justify;
    background-color: #f9fcfe;
    padding: 0 0 100px 0;
    -webkit-box-shadow: 0 5px 10px #e7e7e7;
    -moz-box-shadow: 0 5px 10px #e7e7e7;
    box-shadow: 0 5px 10px #e7e7e7;
    transition: all 1s ease-out;
}

#about-me #about-me-picture {
    width: 50%;
    float: left;
    text-align: center;
    margin: 0;
}

#about-me #about-me-picture img[alt="author"] {
    max-height: 420px;
    max-width: 100%;
    border: 10px solid white;
    border-radius: 7px;
}

#about-me #about-me-article {
    line-height: 1.5;
    margin: 10px 00px;
}

#about-me #about-me-article p {
    margin: 0 5px;
}

.about-me-slide {
    transform: translateX(100%);
}

.h2-class {
    font-weight: 200;
    margin-top: 60px;
    text-align: center;
    font-size: 30px;
}

.skill {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    padding: 0 0 100px 0;
    opacity: 0;
    transition: all 1s linear;
    top: -40px;
}

.skill #skill-description {
    text-align: center;
    margin: 30px;
    line-height: 1.5;
}

.skill #skill-icons {
    text-align: center;
}

.skill #skill-icons figure {
    display: inline-block;
    margin: 0 25px;
}

.skill #skill-icons figure img {
    width: 75px;
    height: 75px;
}

.skill #skill-icons figure figcaption {
    margin-top: 15px;
}

.skill-slide {
    opacity: 1;
    transform: translateY(40px);
}

#portfolio {
    position: relative;
    /*margin: 0 auto;*/
    width: 100%;
    overflow: hidden;
    padding: 0 0 100px 0;
}

#portfolio .portfolio-icons-container {
    margin-left: auto;
    margin-right: auto;
    width: 87%;
    text-align: center;
    margin-top: 20px;
}

#portfolio .portfolio-icons-container .row #icon1 {
    background-image: url(../img/redagujecom.png);
    background-position: left top;
    /*
    left: -500px;
    transition: all 0.3s linear;
*/
}

#portfolio .portfolio-icons-container .row #icon2 {
    background-image: url(../img/maze.jpg);
    /*
    top: 500px;
    transition: all 0.3s linear;
*/
}

#portfolio .portfolio-icons-container .row #icon3 {
    background-image: url(../img/portfolio1.jpg);
    /*
    right: -500px;
    transition: all 0.3s linear;
*/
}

#portfolio .portfolio-icons-container .row #icon4 {
    background-image: url(../img/animacje.jpg);
    background-position: top;
    /*
    right: -500px;
    transition: all 0.3s linear;
*/
}

#portfolio .portfolio-icons-container .row #icon4:hover {
    cursor: pointer;
}

#portfolio .portfolio-icons-container .row #icon5 {
    background-image: url(../img/3-interactive-agency.png);
    background-position: top;
    /*
    right: -500px;
    transition: all 0.3s linear;
*/
}

#portfolio .portfolio-icons-container .row #icon6 {
    background-image: url(../img/2-new-age-landing-page.png);
    background-position: top;
    /*
    right: -500px;
    transition: all 0.3s linear;
*/
}

#portfolio .portfolio-icons-container .row #icon7 {
    background-image: url(../img/4-artists-portfolio.png);
    background-position: top;
    /*
    right: -500px;
    transition: all 0.3s linear;
*/
}

#portfolio .portfolio-icons-container .row #icon8 {
    background-image: url(../img/booking.JPG);
    /*
    right: -500px;
    transition: all 0.3s linear;
*/
}

#portfolio .portfolio-icons-container .row #icon9 {
    background-image: url(../img/bem-project.JPG);
    /*
    right: -500px;
    transition: all 0.3s linear;
*/
}

#portfolio .portfolio-icons-container .row #icon10 {
    background-image: url(../img/fly.JPG);
    /*
    right: -500px;
    transition: all 0.3s linear;
*/
}

#portfolio .portfolio-icons-container .row .portfolio-icons {
    position: relative;
    height: 100%;
    padding: 0;
    float: left;
    background-size: cover;
    background-position: center;
}

#portfolio .portfolio-icons-container .row .portfolio-icons .portfolio-icon-background {
    background-color: #2a3d4f;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    padding: 10px;
}

#portfolio .portfolio-icons-container .row .portfolio-icons .portfolio-icon-background:hover {
    opacity: 0.8;
    text-decoration: none;
}

#portfolio .portfolio-icons-container .row .portfolio-icons .portfolio-icon-background .portfolio-icon-content {
    height: 100%;
    width: 100%;
    padding: 5px;
    border: 1px solid white;
    position: relative;
    text-align: center;
    color: white;
}

#portfolio .portfolio-icons-container .row .portfolio-icons .portfolio-icon-background .portfolio-icon-content h4 {
    font-size: 20px;
    margin: 25px;
}

/*
.portfolio-slide-1 {
    transform: translateX(500px);
}

.portfolio-slide-2 {
    transform: translateY(-500px);
}

.portfolio-slide-3 {
    transform: translateX(-500px);
}
*/

.popup {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    display: none;
    z-index: 2;
}

.popup-show-hide {
    display: block;
}

.animations {
    position: relative;
    margin: 100px 3% 0 3%;
    background-color: #f9fcfe;
    -webkit-box-shadow: 0 0 10px 10px #e7e7e7;
    -moz-box-shadow: 0 0 10px 10px #e7e7e7;
    box-shadow: 0 0 10px 10px #e7e7e7;
    height: 500px;
    overflow-y: auto;
}

/*
.animations h5{
    color: white;
}
*/

#close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 40px;
    line-height: 40px;
    font-size: 30px;
    color: black;
    text-align: center;
}

#close:hover {
    font-size: 40px;
    transition: all 0.2s ease-in-out;
}

.css-animation {
    padding: 0 10px;
}

.squares {
    margin-right: 30px;
    max-width: 550px;
    max-height: 340px;
    margin: 10px;
    overflow: hidden;
}

.single-square {
    width: 5px;
    height: 5px;
    float: left;
    background-color: gray;
}

.single-square-color {
    background-color: white;
}

.btn-secondary {
    outline: none;
}

#contact {
    width: 100%;
}

#contact #contact-data {
    float: left;
    height: 450px;
    padding-left: 5%;
    background-color: #213b50;
}

#contact #contact-data .h2-class {
    color: white;
    text-align: left;
    font-weight: 100;
    font-size: 40px;
    margin-bottom: 90px;
}

#contact #contact-data p {
    color: white;
    margin: 7px 0 7px 0;
}

#contact #contact-data p::nth-of-type(2n) {
    color: white;
    margin: 5px 0 25px 0;
}

#contact #contact-data p a {
    color: #1ac056;
}

#contact #contact-data #social-icons-container {
    height: 20%;
}

#contact #contact-data #social-icons-container .social-icons {
    line-height: 40px;
    width: 40px;
    text-align: center;
    display: inline-block;
    border: 1px solid white;
    margin: 10px;
    color: white;
    font-size: 1.5em;
    transition: all 0.2s ease-in;
}

#contact #contact-data #social-icons-container .social-icons a {
    color: white;
    display: block;
    height: 100%;
    width: 100%;
    transition: all 0.2s ease-in;
}

#contact #contact-data #social-icons-container .social-icons a:hover {
    color: #1ac056;
}

#contact #contact-data #social-icons-container .social-icons:hover {
    border: 1px solid #1ac056;
}

.contact-form {
    display: inline-block;
    width: 50%;
    height: 450px;
    padding-top: 40px;
    background-color: #213b50;
}

.contact-form .send-contact {
    height: 100%;
    padding-top: 40px;
    margin: 0;
}

.contact-form .send-contact input,
.contact-form .send-contact textarea {
    background-color: #2B4A64;
    border: none;
    padding: 15px;
    outline: none;
    margin: 7px;
    width: 85%;
    color: #949EA4;
    resize: none;
}

.contact-form .send-contact input::placeholder,
.contact-form .send-contact textarea::placeholder {
    color: #949EA4;
}

.contact-form .send-contact #send {
    position: relative;
    background-color: #1ac056;
    width: 120px;
    color: white;
    border: 1px solid white;
    transition: background-color 0.3s ease-in-out;
}

.contact-form .send-contact #send:hover {
    background-color: #3ceb78;
    cursor: pointer;
}

.contact-form .send-contact textarea {
    height: 90px;
}

#signature {
    background-color: #142634;
    color: white;
    padding-left: 80px;
    text-align: center;
}

.roll-up {
    position: fixed;
    bottom: -70px;
    right: 30px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 40px;
    background-color: #1ac056;
    z-index: 3;
    text-decoration: none;
    color: white;
    transition: all 0.2s linear;
}

.roll-up:hover {
    background-color: #3ceb78;
    color: white;
}

.roll-up-slide {
    transform: translateY(-100px);
}
